{% extends "layouts/default.html" %}

{% block content %}

<form action="#" method="post" class="form form-horizontal" id="SmsCouponForm">
    <div class="form-group">
        <label for="PhoneNumber" class="col-sm-3 control-label">Phone Number</label>
        <div class="col-sm-9">
            <input type="text" name="data[phone_number]" id="PhoneNumber" placeholder="Insert your phone number" class="form-control" data-info="Insert phone number to recieve your promotion code, eg. +4917637703911." />
            <div class="help-block">Insert phone number to recieve your promotion code, eg. +4917637703911.</div>
        </div>
    </div>
    <div class="form-group" id="AgeConfirmationContainer">
        <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="AgeConfirmation"> I confirm that I am over 18 years old
                </label>
            </div>
        </div>
    </div>
    <div class="form-group" id="TermsAndConditionsContainer">
        <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="TermsAndConditions"> I have read and accepted <a href="#" title="Terms and conditions">Tearms and Conditions</a>
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Get my Promotion Code</button>
        </div>
    </div>

</form>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="FormModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"><h4 class="modal-title">May I have you attention please.</h4></div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

